body {
	background: #f7f7f7;
	font-family: Helvetica, Verdana;
	max-width: 900px;
	margin: auto;
}

.top_img{
	
	border-radius: 800px;
	border: 1px solid #505050;
	margin:center;
}	
	
#title{
	background: #1F1E1C;
	color: #FFF;
	padding:#1F1E1C;
	font-size: 40px;
	font-style: italic;
	text-transform: uppercase;
	text-align: center
	
}

a {
	text-decoration: underline;
	color: #505050;
}

.subtitle, .post_title {
	color:505050;
	font-family: Verdana, Arial;
	padding-left: 30px;

}

.post_title{
	font-size: 16px;
	margin:0;
	margin-bottom: 15px;
	
}
.post{
	background: #FFF;
	padding: 15px;
	margin-bottom: 15 px
}
.post_content{
	margin:0;
	margin-bottom:0px;
	text-transform: capitalize;
	text-align: justify;
}
.post_img{
	margin-bottom: 15px;
	border-radius: 5px;
	width:100%;
}

.contact_list{
	list-style-type:square;
	padding-left: 30px
}

.contact_list li a{
	color: #1957E6;
	
}