body {
	background: #f7f7f7;
}

.top_img{
	
	border-radius: 80px;
	border: 1px solid #505050
}
	
#title{
	background: #1F1E1C;
	color: #FFF;
	padding:#1F1E1C;
}
.subtitle, .post_title, {
	color:505050
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin:0;
	margin-bottom: 15px;
	
}
.post{
	background: #FFF;
	padding: 15px;
	margin-bottom: 15 px
}
.post_content{
	margin:0;
	margin-bottom:15px;
}
.post_img{
	margin-bottom: 15px;
	border-radius: 5px
}