* {
    margin: 0 auto;
    font-family: sans-serif;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100vh;
    
}



#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border: 1px solid #1d1d1d;
    max-width: 50vw;
    max-height: 50vh;
    margin: 50px;
    background-color: #1d1d1d;
    border-radius: 5px;
    
}

#container input {
    margin-bottom: 10px;
    height: 25px;
}

#container h1 {
    color: white;
    padding-bottom: 15px;
}

#cadastrar{
    margin: 8px 0;
    width: 100px;
    height: 25px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

}

#cadastrar:hover {
    background-color: cyan;
    transform: scale(105%);
    cursor: pointer;

}


.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    width: 50vw;
    height: 30vh;
    background-color: rgba(0, 10, 4, 0.275);
    text-align: left;
   
    
      
}

thead tr th {
    padding-left: 20px;
    font-size: 1.2rem;
    text-align: center;
   
}


thead tr th:hover {
    transform: scale(105%);
    cursor: pointer;
    color: chartreuse;
}

#patio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 2vw 2vw;
    text-align: end;
    
}
#patio td {
    padding: 0 9px;
    font-size: 1rem;
    text-align: justify;
    border: white 1px solid;
   

    
}



